<body>
  <div class="register-form">
    <div class="logoImg" style=" text-align: center;">
      <img class="ImgLogo" src="../../../assets/img/RevSite-background.png" alt="" height="52px" />
    </div>
<h1>Registrazione Utente</h1>
<form #registerform="ngForm" (ngSubmit)="onSubmit(registerform)">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput type="nome" name="nome" ngModel required>
</mat-form-field>
<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" ngModel required>
</mat-form-field>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" ngModel required>
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="!registerform.valid" >Invia</button>
</form>
<p>oppure</p>
<button mat-flat-button (click)="atLogin()">Accedi al tuo Account</button><br>
<a style="cursor: pointer;  color: black; text-decoration: underline;"  (click)="atHome()">Torna alla home</a>
</div>
</body>
