



body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.register-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}
.register-form h1 {
  text-align: center;
  color: #333;
}
mat-form-field {
  width: 100%;
  margin-top: 15px;
}
button {
  width: 100%;
  margin-top: 20px;
}
mat-flat-button {
  width: 100%;
  margin-top: 10px;
  background-color: #b1b1b1;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.mat-flat-button:hover {
  background-color: #1284ff;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}



