*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji""Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  .categorie{
     cursor: pointer !important;
  } 
.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  position: absolute;
}
.profile-container {
  border-radius: 50%;
}
.profile-container img{
  width: 42px;
  height: 42px;
} 
 .profile-container img:hover {
  transform: scale(1.05);
}  
.mat-sidenav {
  width: 100%;
  max-width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
