<div class="container">
<h1>Crea la tua Prima recensione!</h1>
<button mat-raised-button *ngIf="!mostraRecensione"  (click)=" mostraRecensione= true; mostraBottone = false">inizia ora</button>
<div class="newRecensione-componente" *ngIf="mostraRecensione">
    <!-- <a (click)="pathCategorie()" >Torna alle categorie</a> -->
    <a style="color: gray; text-decoration: underline; display: block; text-align: end;" (click)="pathSteamingCategoria()">Vuoi recensire La categoria Streaming?</a>
    <h2 mat-dialog-title>Recensione su </h2>
<mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option  (click)="selezionaNegozio('Mediaworld')">Mediaworld</mat-chip-option>
      <mat-chip-option (click)="selezionaNegozio('Euronics')">Euronics</mat-chip-option>
      <mat-chip-option (click)="selezionaNegozio('Unieuro')">Unieuro</mat-chip-option>
</mat-chip-listbox>
  <mat-dialog-content>
      <textarea [(ngModel)]="nuovaRecensione" placeholder="Inserisci la tua recensione"></textarea> 
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close  [disabled]="!nuovaRecensione" (click)="inviaRecensione()">invia recensione</button>
  </mat-dialog-actions>
  </div>
  <div *ngIf="mostraMessaggio">
    <p>Grazie!, hai recensito correttamente {{negozioCorrente}}</p>
  </div>
  <div *ngIf="mostraMessaggioValutazioni">
    <p (click)="onValutazioni()" style="text-decoration: underline; color: gray;">Vai alle Valutazioni della categoria Elettronica</p>
  </div>

</div>

