.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #3498db;
  background-color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: #3498db;
  margin-bottom: 20px;
}

button {
  background-color: #3498db;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newRecensione-componente {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

mat-dialog-title {
  font-size: 1.5em;
  color: #3498db;
  margin-bottom: 10px;
}

mat-chip-listbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

mat-chip-option {
  margin: 5px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 5px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

button[mat-button] {
  background-color: #3498db;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  textarea {
    resize: vertical;
  }

  .container {
    max-width: 90%;
  }

  .newRecensione-componente,
  textarea {
    max-width: 100%;
  }
}
