
<div class="card">
    <div class="header">
        <span class="title">Piano Gratuito</span>
        <span class="price">Free</span>
    </div>
    <p class="desc">Etiam ac convallis enim, eget euismod dolor.</p>
    <ul class="lists">
        <li class="list">
            <mat-icon>check_circle</mat-icon>
            <span>Aenean quis</span>
        </li>
        <li class="list">
            <mat-icon>check_circle</mat-icon>
            <span>Morbi semper</span>
        </li>
        <li class="list">
            <mat-icon>check_circle</mat-icon>
            <span>Tristique enim nec</span>
        </li>
    </ul>
    <button type="button" class="action" disabled><mat-icon>check_circle</mat-icon> In Possesso</button>
</div>