<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>HomePage</span>
    <span class="example-spacer"></span>
    <div class="button-Sign">
          <button mat-stroked-button (click)="InLogin()">Login</button>
    <button mat-stroked-button (click)="inRegister()">Register</button>
  </div>

    
  </mat-toolbar>
  <div class="intro-section">
    <h1>Benvenuti nel mio Progetto Revsite</h1>
    <p>trova e scopri le migliori app/siti da utilizzare,votando e creando delle recensioni per ogni categoria</p>
  </div>
