*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.example-spacer {
    flex: 1 1 auto;
}
  .intro-section {
    background: url("../../../assets/img/recensioni.jpg")no-repeat;
    background-size: 100% ;
    text-align: center; padding:10px; margin:0px; min-height:600px; width:100%; 
    display:flex; flex-direction:column;
    justify-content:center; 
    background-position: center center; 
    background-size:cover;
}
  h1 {
    color: #eaeaea;
    font-size: 3.5rem;
  }
  
  p {
    color: #ffffff;
  }