*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.example-spacer {
    flex: 1 1 auto;
}
  .intro-section {
    background: url("../../../assets/img/recensioni.jpg")no-repeat;
    background-size: 100% ;
    text-align: center; padding:10px; margin:0px; min-height:600px; width:100%; 
    display:flex; flex-direction:column;
    justify-content:center; 
    background-position: center center; 
    background-size:cover;
}
  h1 {
    color: #eaeaea;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: #ffffff;
  }
  .button-Sign{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em !important;
    cursor: pointer;
  }
  .signInButton{
    border: 0;
    background: transparent;
    margin: 5px;
    color: black;
  }
  .button-Sign button{
    margin: 5px;
  }
  .logo{
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-family: Limelight;
  }
  .logo span{
    font-size: 1em;
  }
  mat-grid-list {
    background: rgb(0, 0, 0);
    color: white;
  }
  mat-grid-list span{
    font-weight: bolder;
    font-size: 2rem;
    color: white;
  }
  .logo img{
    width: 78px;
    height: 72px;
  }