<div [ngClass]="themeService.themeSignal()">
<mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo"> 
      <img src="/assets/img/RevSite-background.png" alt="Logo"><span style="cursor: pointer;" (click)="onHome()">evSite</span>
    </div>
    <span class="example-spacer"></span>
    <div class="button-Sign" *ngIf="!this.authService.isAuthenticated()">
    <button mat-stroked-button class="signInButton" (click)="InLogin()">Sign in</button>
    <button mat-stroked-button (click)="inRegister()">Sign Up</button> 
  </div>
  <button mat-stroked-button (click)="inLogout()" *ngIf="this.authService.isAuthenticated()">Logout</button>
</mat-toolbar>
</div>
  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="over" position="start" >
      <mat-nav-list>
        <mat-list-item>
          <button class="button" (click)="inRegister()">
            <mat-icon>account_circle</mat-icon>
            Crea il tuo Account!</button> 
          </mat-list-item>
          <mat-list-item>
            <button class="button" (click)="loginWithGitHub()">
              <svg fill="#212121" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                <g
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  id="SVGRepo_tracerCarrier"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <title>github</title>
                  <rect fill="none" height="24" width="24"></rect>
                  <path d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"></path>
                </g>
              </svg>
              Continue with Github
            </button>
        </mat-list-item>
      </mat-nav-list>
           <button class="button2" (click)="inRegister()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
            <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
          </svg>
          Unlock Pro
        </button> 
    </mat-drawer>
    <mat-drawer-content>
      <div class="intro-section" style="text-align: center; min-height: 800px;">
      <router-outlet></router-outlet>
      <h1>Leggi recensioni.</h1>
      <br>
      <h1>Scrivi recensioni.</h1>
      </div>
      <footer [ngClass]="themeService.themeSignal()">
          <app-footer></app-footer>
      </footer> 
    </mat-drawer-content>
  </mat-drawer-container>

