
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
}

mat-form-field {
  width: 100%;
  margin-top: 15px;
}

button {
  position: relative;
  margin-top: 20px;
  width: 100%;
  display: inline-block;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.go {
  display: flex;
  align-items: center;
  background-color: #4285f4;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go img {
  margin-right: 8px;
}

.go:hover {
  background-color: #3367d6;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

mat-flat-button {
  width: 100%;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.mat-flat-button:hover {
  background-color: #45a049;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

mat-form-field {
  margin-top: 15px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
.ImgLogo{
  border-radius: 50%;
}