 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <footer>
    <div class="footer-content">
      <div class="contact-section">
        <span>Contattaci:</span>
        <p>
          <mat-icon style="margin-right: 10px;"> email</mat-icon>
          <a href="mailto:stefanopoiattibsns@gmail.com"></a>  stefanopoiattibsns&#64;gmail.com</p>
        <p>
	        <mat-icon style="margin-right: 10px;"> local_phone</mat-icon>
          <a style="color: white; text-decoration: none;" href="tel:+123456789">+1 (234) 567-89</a></p>
      </div>
      <div class="download-buttons">
        <p>Download app:</p>
        <hr>
        <li><img  src="../../../assets/img/googlePlay.png" class="img-fluidapp-img" width="100"/></li>
        <li><img src="../../../assets/img/appstore.png" class="img-fluid app-img" width="100"/></li>  
      </div>
        <div id="wrapper">
          <span>Social:</span>
          <ul class="social-icons">
            <li><a class="icon" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="icon" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="icon" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="icon" href="#"><i class="fa fa-github"></i></a></li>
            
        </ul>
    </div>
  </div>
   <p class="Inc">&copy; 2024 Revsite</p>
</footer> 

