<div class="container-img" [@fadeIn]>
    <h1 >Trova aziende affidabili.Scrivi Recensioni.</h1>
</div>
<h1 [@fadeIn]>Scopri le categorie</h1>
 <div class="categorie" [@fadeIn]>
        <a class="btn-categorie" routerLink="/elettronica" mat-raised-button >
        <mat-icon>computer</mat-icon>
       <span>Elettronica</span> 
    </a>
    <a class="btn-categorie" routerLink="/streaming" mat-raised-button >
        <mat-icon>cast_connected</mat-icon>
       <span>Streaming</span>
    </a>
    <a class="btn-categorie" routerLink="/shopOnline" mat-raised-button >
        <mat-icon>business_center</mat-icon>
        <span>E-commerce</span>
    </a>
</div> 



