<section class="intro-section">
    <div class="container">
      <div class="intro-content">
        <h1 class="intro-title">Conquista la fiducia dei consumatori con le recensioni online</h1>
        <p class="intro-description">Unisciti agli oltre 25.000 business che hanno già scelto la nostra piattaforma.</p>
      </div>
      <div class="animation-container">
        <ng-lottie src="../../../assets/svg/animazione.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></ng-lottie>
      </div>
    </div>
</section>